*, *:before, *:after {
	 box-sizing: border-box;
	 margin: 0;
	 padding: 0;
}
 body {
	 background: #1f1f1f;
	 font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
 .cont {
	 position: relative;
	 overflow: hidden;
	 height: 100vh;
	 padding: 80px 70px;
}
 .cont__inner {
	 position: relative;
	 height: 100%;
}
 .cont__inner:hover .el__bg:after {
	 opacity: 1;
}
 .el {
	 position: absolute;
	 left: 0;
	 top: 0;
	 width: 15.8333333333%;
	 height: 100%;
	 background: #252525;
	 transition: transform 0.6s 0.7s, width 0.7s, opacity 0.6s 0.7s, z-index 0s 1.3s;
	 will-change: transform, width, opacity;
}
 .el:not(.s--active) {
	 cursor: pointer;
}
 .el__overflow {
	 overflow: hidden;
	 position: relative;
	 height: 100%;
}
 .el__inner {
	 overflow: hidden;
	 position: relative;
	 height: 100%;
	 transition: transform 1s;
}
 .cont.s--inactive .el__inner {
	 transform: translate3d(0, 100%, 0);
}
 .el__bg {
	 position: relative;
	 width: calc(100vw - 140px);
	 height: 100%;
	 transition: transform 0.6s 0.7s;
	 will-change: transform;
}
 .el__bg:before {
	 content: "";
	 position: absolute;
	 left: 0;
	 top: -5%;
	 width: 100%;
	 height: 110%;
	 background-size: cover;
	 background-position: center center;
	 transition: transform 1s;
	 transform: translate3d(0, 0, 0) scale(1);
}
 .cont.s--inactive .el__bg:before {
	 transform: translate3d(0, -100%, 0) scale(1.2);
}
 .el.s--active .el__bg:before {
	 transition: transform 0.8s;
}
 .el__bg:after {
	 content: "";
	 z-index: 1;
	 position: absolute;
	 left: 0;
	 top: 0;
	 width: 100%;
	 height: 100%;
	 background: rgba(0, 0, 0, 0.3);
	 opacity: 0;
	 transition: opacity 0.5s;
}
 .cont.s--el-active .el__bg:after {
	 transition: opacity 0.5s 1.4s;
	 opacity: 1 !important;
}
 .el__preview-cont {
	 z-index: 2;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 position: absolute;
	 left: 0;
	 top: 0;
	 width: 100%;
	 height: 100%;
	 transition: all 0.3s 1.3s;
}
 .cont.s--inactive .el__preview-cont {
	 opacity: 0;
	 transform: translateY(10px);
}
 .cont.s--el-active .el__preview-cont {
	 opacity: 0;
	 transform: translateY(30px);
	 transition: all 0.5s;
}
 .el__heading {
	 color: #fff;
	 text-transform: uppercase;
	 font-size: 18px;
}
 .el__content {
	 z-index: -1;
	 position: absolute;
	 left: 0;
	 top: 0;
	 width: 100%;
	 height: 100%;
	 padding: 30px;
	 opacity: 0;
	 pointer-events: none;
	 transition: all 0.1s;
}
 .el.s--active .el__content {
	 z-index: 2;
	 opacity: 1;
	 pointer-events: auto;
	 transition: all 0.5s 1.4s;
}
 .el__text {
	 text-transform: uppercase;
	 font-size: 40px;
	 color: #fff;
}
 .el__close-btn {
	 z-index: -1;
	 position: absolute;
	 right: 10px;
	 top: 10px;
	 width: 60px;
	 height: 60px;
	 opacity: 0;
	 pointer-events: none;
	 transition: all 0s 0.45s;
	 cursor: pointer;
}
 .el.s--active .el__close-btn {
	 z-index: 5;
	 opacity: 1;
	 pointer-events: auto;
	 transition: all 0s 1.4s;
}
 .el__close-btn:before, .el__close-btn:after {
	 content: "";
	 position: absolute;
	 left: 0;
	 top: 50%;
	 width: 100%;
	 height: 8px;
	 margin-top: -4px;
	 background: #fff;
	 opacity: 0;
	 transition: opacity 0s;
}
 .el.s--active .el__close-btn:before, .el.s--active .el__close-btn:after {
	 opacity: 1;
}
 .el__close-btn:before {
	 transform: rotate(45deg) translateX(100%);
}
 .el.s--active .el__close-btn:before {
	 transition: all 0.3s 1.4s cubic-bezier(0.72, 0.09, 0.32, 1.57);
	 transform: rotate(45deg) translateX(0);
}
 .el__close-btn:after {
	 transform: rotate(-45deg) translateX(100%);
}
 .el.s--active .el__close-btn:after {
	 transition: all 0.3s 1.55s cubic-bezier(0.72, 0.09, 0.32, 1.57);
	 transform: rotate(-45deg) translateX(0);
}
 .el__index {
	 overflow: hidden;
	 position: absolute;
	 left: 0;
	 bottom: -80px;
	 width: 80%;
	 height: 80%;
	 min-height: 250px;
	 text-align: center;
	 font-size: 8.3333333333vw; /* Change this to adjust font size */
	 line-height: 0.85;
	 font-weight: bold;
	 transition: transform 0.5s, opacity 0.3s 1.4s;
	 transform: translate3d(0, 1vw, 0);
}
 .el:hover .el__index {
	 transform: translate3d(0, 0, 0);
}
 .cont.s--el-active .el__index {
	 transition: transform 0.5s, opacity 0.3s;
	 opacity: 0;
}
 .el__index-back, .el__index-front {
	 position: absolute;
	 left: 0;
	 bottom: 0;
	 width: 80%;
}
 .el__index-back {
	 color: #2f3840;
	 opacity: 0;
	 transition: opacity 0.25s 0.25s;
}
 .el:hover .el__index-back {
	 transition: opacity 0.25s;
	 opacity: 1;
}
 .el__index-overlay {
	 overflow: hidden;
	 position: relative;
	 transform: translate3d(0, 100%, 0);
	 transition: transform 0.5s 0.1s;
	 color: transparent;
}
 .el__index-overlay:before {
	 content: attr(data-index);
	 position: absolute;
	 left: 0;
	 bottom: 0;
	 width: 80%;
	 height: 80%;
	 color: #fff;
	 transform: translate3d(0, -100%, 0);
	 transition: transform 0.5s 0.1s;
}
 .el:hover .el__index-overlay {
	 transform: translate3d(0, 0, 0);
}
 .el:hover .el__index-overlay:before {
	 transform: translate3d(0, 0, 0);
}
 .el:nth-child(1) {
	 transform: translate3d(0%, 0, 0);
	 transform-origin: 50% 50%;
}
 .cont.s--el-active .el:nth-child(1):not(.s--active) {
	 transform: scale(0.5) translate3d(0%, 0, 0);
	 opacity: 0;
	 transition: transform 0.95s, opacity 0.95s;
}
 .el:nth-child(1) .el__inner {
	 transition-delay: 0s;
}
 .el:nth-child(1) .el__bg {
	 transform: translate3d(0%, 0, 0);
}
 .el:nth-child(1) .el__bg:before {
	 transition-delay: 0s;
	 background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-3.jpg");
}
 .el:nth-child(2) {
	 transform: translate3d(106.3157894737%, 0, 0);
	 transform-origin: 156.3157894737% 50%;
}
 .cont.s--el-active .el:nth-child(2):not(.s--active) {
	 transform: scale(0.5) translate3d(106.3157894737%, 0, 0);
	 opacity: 0;
	 transition: transform 0.95s, opacity 0.95s;
}
 .el:nth-child(2) .el__inner {
	 transition-delay: 0.1s;
}
 .el:nth-child(2) .el__bg {
	 transform: translate3d(-15.8333333333%, 0, 0);
}
 .el:nth-child(2) .el__bg:before {
	 transition-delay: 0.1s;
	 background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-4.jpg");
}
 .el:nth-child(3) {
	 transform: translate3d(212.6315789474%, 0, 0);
	 transform-origin: 262.6315789474% 50%;
}
 .cont.s--el-active .el:nth-child(3):not(.s--active) {
	 transform: scale(0.5) translate3d(212.6315789474%, 0, 0);
	 opacity: 0;
	 transition: transform 0.95s, opacity 0.95s;
}
 .el:nth-child(3) .el__inner {
	 transition-delay: 0.2s;
}
 .el:nth-child(3) .el__bg {
	 transform: translate3d(-31.6666666667%, 0, 0);
}
 .el:nth-child(3) .el__bg:before {
	 transition-delay: 0.2s;
	 background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-5.jpg");
}
 .el:nth-child(4) {
	 transform: translate3d(318.9473684211%, 0, 0);
	 transform-origin: 368.9473684211% 50%;
}
 .cont.s--el-active .el:nth-child(4):not(.s--active) {
	 transform: scale(0.5) translate3d(318.9473684211%, 0, 0);
	 opacity: 0;
	 transition: transform 0.95s, opacity 0.95s;
}
 .el:nth-child(4) .el__inner {
	 transition-delay: 0.3s;
}
 .el:nth-child(4) .el__bg {
	 transform: translate3d(-47.5%, 0, 0);
}
 .el:nth-child(4) .el__bg:before {
	 transition-delay: 0.3s;
	 background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-6.jpg");
}
 .el:nth-child(5) {
	 transform: translate3d(425.2631578947%, 0, 0);
	 transform-origin: 475.2631578947% 50%;
}
 .cont.s--el-active .el:nth-child(5):not(.s--active) {
	 transform: scale(0.5) translate3d(425.2631578947%, 0, 0);
	 opacity: 0;
	 transition: transform 0.95s, opacity 0.95s;
}
 .el:nth-child(5) .el__inner {
	 transition-delay: 0.4s;
}
 .el:nth-child(5) .el__bg {
	 transform: translate3d(-63.3333333333%, 0, 0);
}
 .el:nth-child(5) .el__bg:before {
	 transition-delay: 0.4s;
	 background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-7.jpg");
}
 .el:nth-child(6) {
	 transform: translate3d(531.5789473684%, 0, 0);
	 transform-origin: 581.5789473684% 50%;
}
 .cont.s--el-active .el:nth-child(6):not(.s--active) {
	 transform: scale(0.5) translate3d(531.5789473684%, 0, 0);
	 opacity: 0;
	 transition: transform 0.95s, opacity 0.95s;
}
 .el:nth-child(6) .el__inner {
	 transition-delay: 0.5s;
}
 .el:nth-child(6) .el__bg {
	 transform: translate3d(-79.1666666667%, 0, 0);
}
 .el:nth-child(6) .el__bg:before {
	 transition-delay: 0.5s;
	 background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-8.jpg");
}
 .el:hover .el__bg:after {
	 opacity: 0;
}
 .el.s--active {
	 z-index: 1;
	 width: 100%;
	 transform: translate3d(0, 0, 0);
	 transition: transform 0.6s, width 0.7s 0.7s, z-index 0s;
}
 .el.s--active .el__bg {
	 transform: translate3d(0, 0, 0);
	 transition: transform 0.6s;
}
 .el.s--active .el__bg:before {
	 transition-delay: 0.6s;
	 transform: scale(1.1);
}
 .icon-link {
	 position: absolute;
	 left: 5px;
	 bottom: 5px;
	 width: 32px;
}
 .icon-link img {
	 width: 100%;
	 vertical-align: top;
}
 .icon-link--twitter {
	 left: auto;
	 right: 5px;
}

.defilee__main {
  position: relative;
  margin: 0 auto;
}
.defilee__outer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  perspective: 0.5px;
  transform-style: preserve-3d;
  /*overflow-x: hidden;*/
}
.defilee__main,
.defilee__main *,
.defilee__outer,
.defilee__outer * {
  box-sizing: border-box;
}
.defilee__ctnr {
  transform-style: preserve-3d;

  display: inline-flex;
  align-items: center;
  margin: 0 auto;
}

.defilee__div {
  position: relative;
  transform: translate3d(0, -16vh, 0);
  width: 25vw;
  margin: 0 -2vw;
}
.defilee__div--special {
  transform: translateZ(-0.2px) scale(1.4) translateX(30px) translateY(20vh);
}
.defilee__div--special1 {
  transform: translateZ(-0.25px) scale(1.4) translateX(-0.3vw) translateY(0);
}
.defilee__div--special2 {
  transform: translateZ(0.2px) scale(1) translateX(0.5vw) translateY(-25vh);
}
.defilee__div--special3 {
  transform: translateZ(-0.5px) scale(1.5) translateX(-30px) translateY(-30vh);
}
.defilee__div--special4 {
  transform: translateZ(-0.65px) scale(3) translateX(30px) translateY(-10vh);
}
.defilee__ctnr {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  will-change: transform;
}
.defilee__ctnr {
  animation: slide 30s linear infinite;
}
@keyframes slide {
  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}

* {
  transform-origin: 50% 50%;
}
.defilee-visually-hidden {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}
h1 {
  margin: 0;
  font-size: calc(2vw + 20px);
  position: absolute;
  left: 10%;
  transform: translateZ(0.1px) scale(1.2);
  font-family: Rubik;
  color: #b5ae84;
  opacity: 0.5;
}
h1.clone {
  left: 60%;
}
body {
  background: #181818;
  color: white;
  font-size: 200%;
}
 