// Variables

// Restated Bootstrap Variables

$black: #000000 !default;
$specificGrey: #1f1f1f;

$primary: #ffffff !default;
$secondary: #162447 !default;
$accent: #e43f5a;
$highlight: #337ab7;
$illuminate: #07cff6;

$primary50: #ffffff80;
$secondary50: #16244780;
$accent50: #e43f5a80;
$highlight50: #337ab780;
$illuminate50: #07cff680;