.bg-custom-primary {
    background-color: #000000 !important;
}

.bg-gradient {
    background: linear-gradient(to bottom, #07cff6bf, #000000bf), url('https://i.gifer.com/J4o.gif') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.bg-white {
    background-color: #00000080 !important;
    background-blend-mode: hue;
}

#evolution-about {
    background: linear-gradient(to bottom, #243665bf, #07cff6), url('https://media0.giphy.com/media/eeL6lB9x9ZfeLiy1Nh/giphy.gif?cid=ecf05e473imc9hino3t6awnui9p0rovuqrkx28oqe7oypa64&rid=giphy.gif') !important;
    background-repeat: repeat-y !important;
    background-size: cover !important;
    background-position: center center;
}

#evolution-events {
    background: linear-gradient(to bottom, #07cff6, #243665bf), url('https://i.gifer.com/J4o.gif');
    background-repeat: repeat-y !important;
    background-size: contain !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0.5rem;
    font-family: "Electrolize", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    line-height: 1.2;
    color: #07cff6;
}

.social-icons .social-icon:hover {
    background-color: #07cff6;
}

p {
    font-family: "Electrolize", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #07cff6 !important;
}

.grid .item .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #243665bf;
    transition: opacity 0.15s ease-in;
    opacity: 1;
    padding-top: 80px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

@media (min-width: 992px) {
    .grid .item .cover {
        opacity: 0;
    }

    .grid .item:hover .cover {
        opacity: 1;
    }
}

.grid h5 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: #fff !important;
}

@media (max-width:767px) {
    .grid h3 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px;
    }
}

.modal-content {
    background-color: #000000 !important;
    color: #07cff6 !important;
}

.portfolio-modal .modal-content p.item-intro {
    font-family: "Electrolize", "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.portfolio-modal .close-modal {
    background-color: #ffffff;
}

.portfolio-modal .close-modal:hover {
    opacity: 0.3;
}

.btn-custom-primary {
    color: #07cff6 !important;
    background-color: #000000 !important;
    border-radius: 25px;
}

.btn-custom-primary:hover {
    color: #337ab7 !important;
    background-color: #243665 !important;
}

.btn:focus,
.btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

.custom-form {
    font-family: "Electrolize", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.custom-form input,
.custom-form select,
.custom-form textarea {
    background-color: transparent;
    color: #07cff6;
    padding: 2.0rem;
}

.custom-form input::placeholder {
    color: #07cff6;
}

.custom-form textarea:focus,
.custom-form input:focus {
    background-color: #000000;
}

.custom-form textarea:active,
.custom-form input:active {
    background-color: #000000;
}

.custom-form .input-group-text {
    background-color: #000000;
    color: #07cff6;
}

.custom-form label {
    color: #ffffff;
}

.spinner-border {
    /* border-color: #07cff6 !important; */
    border-radius: 1px !important;
    border-color: #07cff6 !important;
    border-right-color: #ffffff !important;
}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-family: "Electrolize", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.alert-heading {
    color: inherit;
}

.alert-success {
    color: #07cff6;
    background-color: #39FF1480;
    border-color: #39FF1480;
}

.alert-success hr {
    border-top-color: #22c205;
}

.alert-success .alert-link {
    color: #0b2e13;
}

.alert-info {
    color: #07cff6;
    background-color: #ffffff;
    border-color: #ffffff;
}

.alert-info hr {
    border-top-color: #81b9c2;
}

.alert-info .alert-link {
    color: #062c33;
}

.alert-danger {
    color: #07cff6;
    background-color: #ff073180;
    border-color: #ff073180;
}

.alert-danger hr {
    border-top-color: rgb(206, 130, 138);
}

.alert-danger .alert-link {
    color: #491217;
}