#gallery-custom img {
	 height: 75vw;
	 object-fit: cover;
}
 @media (min-width: 576px) {
	 #gallery-custom img {
		 height: 35vw;
	}
}
 @media (min-width: 992px) {
	 #gallery-custom img {
		 height: 18vw;
	}
}
 .carousel-item img {
	 height: 60vw;
	 object-fit: cover;
}
 @media (min-width: 576px) {
	 .carousel-item img {
		 height: 350px;
	}
}
 * {
	 transition: 0.3s;
}
 #gallery-custom {
	 padding: 0 15px;
}
 #gallery-custom img {
	 display: block;
	 margin: 15px 0;
	 border-radius: 300px 30px 300px 300px;
}
 #gallery-custom img:hover {
	 border-radius: 30px 90px 30px 30px;
}
 #galleryModal .modal-content {
	 background: none;
	 border: none;
}
 #galleryModal .modal-header {
	 border: none;
}
 #galleryModal .modal-header button {
	 background: none;
	 border-radius: 100px 100px 0 0;
	 padding: 5px 10px;
	 opacity: 1;
	 position: relative;
	 top: 3px;
	 border: solid 2px white;
}
 @media (min-width: 992px) {
	 #galleryModal .modal-header button {
		 top: 15px;
	}
}
 #galleryModal .modal-header button:hover {
	 top: 3px;
}
 #galleryModal .modal-header span {
	 color: white;
}
 #galleryModal .modal-body {
	 padding: 0;
	 border: none;
	 position: relative;
}
 #galleryModal .modal-body::before, #galleryModal .modal-body::after {
	 content: '';
	 height: 50px;
	 width: 50px;
	 display: block;
	 position: absolute;
	 background: white;
	 border-radius: 3px 10px;
}
 @media (min-width: 768px) {
	 #galleryModal .modal-body::before, #galleryModal .modal-body::after {
		 border-radius: 3px 30px;
		 height: 100px;
		 width: 100px;
	}
}
 #galleryModal .modal-body::before {
	 top: -5px;
	 left: -5px;
}
 @media (min-width: 768px) {
	 #galleryModal .modal-body::before {
		 top: -15px;
		 left: -15px;
	}
}
 #galleryModal .modal-body::after {
	 bottom: -5px;
	 right: -5px;
	 z-index: -1;
}
 @media (min-width: 768px) {
	 #galleryModal .modal-body::after {
		 bottom: -15px;
		 right: -15px;
	}
}
 #galleryModal .modal-footer {
	 border: none;
	 margin-top: 60px;
}
 @media (min-width: 992px) {
	 #galleryModal .modal-footer {
		 margin-top: 40px;
	}
}
 #galleryModal .modal-footer .btn {
	 margin: auto;
	 border: solid 2px white;
	 background: none;
	 text-transform: uppercase;
	 font-size: 0.8em;
	 letter-spacing: 0.1em;
	 font-weight: bold;
	 padding: 0.2em 0.7em;
}
 #galleryModal .modal-footer .btn:hover {
	 background: white;
	 color: black;
}
 #galleryModal .carousel-control-prev, #galleryModal .carousel-control-next {
	 font-size: 2em;
	 top: auto;
	 opacity: 1;
	 bottom: -52px;
}
 @media (min-width: 768px) {
	 #galleryModal .carousel-control-prev, #galleryModal .carousel-control-next {
		 top: 0;
		 opacity: 0.5;
		 bottom: 0;
	}
}
 #galleryModal .carousel-control-next-icon, #galleryModal .carousel-control-prev-icon {
	 height: 30px;
	 width: 30px;
}
 @media (min-width: 768px) {
	 #galleryModal .carousel-control-prev {
		 left: -90px;
	}
}
 @media (min-width: 768px) {
	 #galleryModal .carousel-control-next {
		 right: -90px;
	}
}
 #galleryModal .carousel-indicators {
	 bottom: -60px;
}
 @media (min-width: 992px) {
	 #galleryModal .carousel-indicators {
		 bottom: -30px;
	}
}
 #galleryModal .carousel-indicators li {
	 height: 30px;
	 border-radius: 100px;
	 background: none;
	 border: solid 2px white;
}
 @media (min-width: 992px) {
	 #galleryModal .carousel-indicators li {
		 height: 10px;
	}
}
 #galleryModal .carousel-indicators li:hover {
	 background: white;
}
 #galleryModal .carousel-indicators li.active {
	 background: white;
}
 
